@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 20px;
  background-color: var(--surface-ground);
}
