.card-header {
  padding: 1rem 1.5rem 0;
}

.card-header h2 {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-header p {
  margin: 0.5rem 0 0;
  color: var(--text-color-secondary);
}

.loading-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
}

th, td {
  padding-left: 1rem;
  padding-right: 1rem;
}

td i {
  margin-right: 0.5rem;
}

:host ::ng-deep .p-datatable-wrapper {
  overflow-x: auto;
}
